@import url(reset.css);
@import url(clearfix.css);

* {box-sizing: border-box;}

.container {
    /* background-color: black; */
    margin : auto;
    width : 100%;
}

.header {
    height: 100px;
    background-color: black;
}

.header img{
    height: 40px;
    margin: 25px;
    float: left;
}

.header ul li a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.header ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    display: inline-block;
    margin-top: 35px;
    margin-left: auto;
}

.header ul{
    width: fit-content;
    margin: 0 auto;
}

.header .search input{
    border-radius: 100px;
    border: none;
} 

div.search{
    margin-top: -25px;
}

.search input{
    float: right;
    padding: 10px;
}

.search img{
    float: right;
    margin-top: 0px;
}

.hero{
    background-image: url(img/hero.png);
    background-size:  900px;
    background-position: 800px -50px;
    background-repeat: no-repeat;
    height: 500px;
    background-color: rgb(251, 240, 231);
}

.hero .text{
    /* background-color: blue; */
    padding-top: 130px;
    float: left;
    margin-left: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero .text p{
    padding-bottom: 25px;
    font-size: 25px;
    color: rgb(168, 168, 168);
}

.hero .text h1{
    padding-bottom: 5px;
    font-size: 45px;
    font-weight: bold;
}

.hero .text button{
    font-size: 15px;
    font-weight: bold;
    color: rgb(251, 240, 231);
    margin-top: 25px;
    padding: 15px 25px;
    border-radius: 15px;
    border: 0;
    background-color: black;
}

.hero .text button:hover{
    color: rgb(251, 240, 231);
    background-color: rgba(0, 0, 0, 0.623);
}

.hero a{
    text-decoration: none;
    color: rgb(251, 240, 231);
}

.categories .spring{
    width: 600px;
    height: 250px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #EDDBD9;
    float: left;
}
.categories .basic{
    width: 600px;
    height: 250px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #D9DBED;
    float: left;
}
.categories .accessories{
    width: 600px;
    height: 250px;
    margin-left: 20px;
    padding-left: 20px;
    background-color: #EDD9DB;
    float: left;
}

.categories {
   margin: 20px 20px;

}

.categories div{
    background-repeat: no-repeat;
}

.categories .spring{
    background-image: url(img/spring.png);
    background-size: 400px;
    background-position: 200px -20px;
}

.categories .basic{
    background-image: url(img/basic.png);
    background-size: 700px;
    background-position: 100px -50px;
}

.categories .accessories{
    background-image: url(img/eyeglass.png);
    background-size: 520px;
    background-position: 120px -25px;
}

.categories p{
    margin-top: 150px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


h2.trending{
    padding: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
}

.product .b1 .p1{
    background-image: url(img/erigo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #EDECEC;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b1 .p2{
    background-image: url(img/sling.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #F2F2F2;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b1 .p3{
    background-image: url(img/stark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 10px;
    background-color: #F3F1E7;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b1 .p4{
    background-image: url(img/guccishoes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -15px 5px;
    background-color: #F5F5F5;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b1 .p5{
    background-image: url(img/nikeshoe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #F5F4F0;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b2 .p1{
    background-image: url(img/bluehat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #F5F5F5;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b2 .p2{
    background-image: url(img/vest.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px; 
    background-color: #F3F1E7;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b2 .p3{
    background-image: url(img/tight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #F1F2F2;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b2 .p4{
    background-image: url(img/jersey.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px 0px;
    background-color: #EDECEC;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
}

.product .b2 .p5{
    background-image: url(img/cargo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -15px 0px;
    background-color: #F5F5F5;
    width: 250px;
    height: 270px;
    margin: 0 25px;
    float: left;
} 

.product .b2{
    margin-top: 100px;
}

.product{
    margin-left: 200px;
}

.product .text h2{
    font-size: 25px;
    font-weight: bold;
}

.product .text p{
    margin-top: 10px;
    font-size: 15px;
}

.product .text{
    padding-top: 290px;
    width: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: salmon; */
}

.footer{
    margin-top: 200px;
    width: 100%;
    height: 350px;
    background-color: black;
    padding-top: 50px;
}

.footer h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

.footer li{
    margin-top: 10px;
}

.footer a{
    color: #707070;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer h3{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.footer div{
    margin: 0 50px;
    width: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

.footer .contact a{
    display: inline-block;
    padding-top:  10px;
} 

.footer .contact h3,a{
    padding-top:  25px;
} 

.footer img{
    height: 100px;
    margin-left: 200px;
    margin-top: 0px;
}